/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

@font-face {
  font-family: mainfont;
  src: url("Autography.otf");
}

/* CSS Variables */
:root {
  /* Color Palette */
  --orchid: #a28ca1;
  --midnight: #424e4d;
  --acorn: #c1a57f;
  --sand: #e5d5ce;
  --snow: #e1e6e9;
  --cream: #f8f4ee;
  /* Scaling Variables */
  --pagewidth: min(148vh, 90vw);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#englishbox {
  width: var(--pagewidth);
  border: 0.5vh solid var(--sand);
  box-sizing: border-box;
  padding-left: 3.5vh;
  padding-right: 3.5vh;
}

#englishboxtitle {
  width: 100%;
  height: 7.5vh;
  font-family: mainfont;
  font-size: 5vh;
  font-weight: bold;
  color: var(--orchid);
  margin-bottom: 5vh;
}

#spanishbox {
  width: var(--pagewidth);
  border: 0.5vh solid var(--sand);
  box-sizing: border-box;
  padding-left: 3.5vh;
  padding-right: 3.5vh;
  margin-top: 3.5vh;
}

#spanishboxtitle {
  width: 100%;
  height: 7.5vh;
  font-family: mainfont;
  font-size: 5vh;
  font-weight: bold;
  color: var(--orchid);
  margin-bottom: 5vh;
}

.resourcesboxelem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Radio Canada", sans-serif;
  color: var(--midnight);
  line-height: 4vh;
  margin-bottom: 4vh;
}

.resourcesboxelem:last-child {
  margin-bottom: 3vh;
}

.resourcesboxelemtitle {
  width: 100%;
  min-height: 4vh;
  box-sizing: border-box;
  font-weight: bold;
  cursor: pointer;
}

.resourcesboxelemdescription {
  width: 100%;
  min-height: 4vh;
}
