/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

@font-face {
  font-family: mainfont;
  src: url("Autography.otf");
}

/* CSS Variables */
:root {
  /* Color Palette */
  --orchid: #a28ca1;
  --midnight: #424e4d;
  --acorn: #c1a57f;
  --sand: #e5d5ce;
  --snow: #e1e6e9;
  --cream: #f8f4ee;
  /* Scaling Variables */
  --pagewidth: min(148vh, 90vw);
}

/* Website Behavior */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cream);
  background-size: 4vh 4vh;
  background-position-x: center;
  background-image: linear-gradient(to bottom, var(--snow) 1px, transparent 1px),
    linear-gradient(to right, var(--snow) 1px, transparent 1px);
  overflow: overlay;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 0.625vw;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orchid);
  border-radius: 0.25vw;
}

::-webkit-scrollbar-track {
  background-color: var(--snow);
}

/* Page */
#webpage {
  width: var(--pagewidth);
  min-height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/* Navbar */

#navbar {
  width: var(--pagewidth);
  height: 19vh;
}

#navbartitle {
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: center;
  padding-top: 1.5vh;
  box-sizing: border-box;
  font-family: mainfont;
  font-size: 5.5vh;
  color: var(--midnight);
}

#navbarmenu {
  width: 100%;
  height: 6vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 1vh;
  background: var(--orchid);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbarmenuitem {
  width: calc(var(--pagewidth) / 5);
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Radio Canada", sans-serif;
  font-size: 2.625vh;
  color: var(--cream);
  cursor: pointer;
  text-decoration: none;
}

.navbarmenuitem:hover {
  background: var(--sand);
  color: var(--orchid);
}

/* Rest of Page */

#content {
  width: var(--pagewidth);
  margin-top: 4vh;
  font-family: "Radio Canada", sans-serif;
  color: var(--midnight);
}

/* misc */

a {
  color: var(--acorn);
}

a:hover {
  color: var(--orchid);
}
